/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2014, 1:36:23 PM
    Author     : djfried
*/
body { 
    background-image:url("#{resource['images:College.jpeg']}"); 
    background-size:100%;
}
